# Dependencies
/node_modules
/vendor

# Environment files
.env*

# Laravel runtime
/public/hot
/public/storage
/storage

# Logs & cache
npm-debug.log
yarn-error.log
.phpunit.result.cache
.phpunit.cache

# IDEs
/.idea
/.vscode

# Homestead
Homestead.json
Homestead.yaml
