version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www
    networks:
      - laravel-net
    depends_on:
      - mysql

  nginx:
    image: nginx:latest
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-net

  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_pass
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - laravel-net

networks:
  laravel-net:

volumes:
  mysql-data:
