version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    restart: unless-stopped
    working_dir: /var/www
    volumes:
    - .:/var/www
    env_file:
    - .env
    networks:
      - laravel-net
    depends_on:
      - mysql

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-net

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - laravel-net

networks:
  laravel-net:

volumes:
  mysql-data:
